@model Student_Details.Models.Student_Details_Sundram

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>@Html.DisplayFor(model => model.Student_FirstName)</h4>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_ID)
        </dd>

        <dt>
            ROll Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Roll_Number)
        </dd>

        <dt>
            First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_FirstName)
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_LastName)
        </dd>

        <dt>
            College
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_UniversityName)
        </dd>

        <dt>
            Gmail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_MailId)
        </dd>

        <dt>
            P Language
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Preffered_ProgrammingLanguage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Student_ID }) |
    @Html.ActionLink("Back to List", "getList")
</p>